.volumeSlider{
    height: 200px;
}

.playbackSlider{
    width: 300px;
}

.soundcloud .ui-slider-range{
    background: #ff7700;
}

.soundcloud .ui-slider-handle{
    border-color: #ff7700;
}

.youtube .ui-slider-range{
    background: #c4302b;
}

.youtube .ui-slider-handle{
    border-color: #c4302b;
}


.searchResults{
    cursor:pointer
}

.searchResultItem:hover{
    color: #002bff;
}

.connected{
    color: green;
}

.disconnected{
    color:red;
}