.volumeSlider{
    height: 200px;
}

.playbackSlider{
    width: 300px;
}

.soundcloud .ui-slider-range{
    background: #ff7700;
}

.soundcloud .ui-slider-handle{
    border-color: #ff7700;
}

#youtubeVolumeSlider .ui-slider-range{
    background: #c4302b;
}

#youtubeVolumeSlider .ui-slider-handle{
    border-color: #c4302b;
}