!!!
html
	head
		title= "Sound Nexus Player"
		script(src='/vendor/jquery-2.0.3.js')
		script(src='/vendor/jquery-ui.js')
		script(src='https://w.soundcloud.com/player/api.js')
		script(src='/socket.io/socket.io.js')
		script(src='/player.js')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		.soundcloudPlayerSection
			iframe#sc-widget(src='https://w.soundcloud.com/player/?url=https://api.soundcloud.com/martin-maca-malu/swedish-house-mafia-bbc1-1', width="50%", height="200", scrolling="no")
		.youtubePlayerSection
			iframe#youtubePlayer(src='http://www.youtube.com/embed/6mHe1CgO2Gs?enablejsapi=1', type='text/html', width='640', height='390', frameborder=0)

