!!!
html
	head
		title= "Music Selector"
		script(src='http://code.jquery.com/jquery-latest.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/selector.js')

	body
		.input
			.soundcloud
				input#soundcloudLinkField(style='width:350px;')
				input#soundcloudPlayButton(type='button', value='Play Soundcloud Link')
				input#soundcloudResumeButton(type='button', value='Resume Soundcloud')
				input#soundcloudIncreaseButton(type='button', value = 'Increase Soundcloud Volume')
				input#soundcloudDecreaseButton(type='button', value = 'Decrease Soundcloud Volume')
			.youtube
				input#youtubeVideoIdField(style='width:350px;')
				input#youtubePlayButton(type='button', value='Play Youtube Video')
				input#youtubeResumeButton(type='button', value='Resume Youtube')
				input#youtubeIncreaseButton(type='button', value = 'Increase Youtube Volume')
				input#youtubeDecreaseButton(type='button', value = 'Decrease Youtube Volume')
		br
		input#pauseAll(type='button', value='Pause')
