doctype html
html
	head
		title="Create / Select Room"
		meta(name='viewport', content='width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0')
		script(src='/vendor/jquery-2.0.3.js')
		script(src='/vendor/jquery.mobile-1.4.1.min.js')
		script(src='/utils.js')
		script(src='/selectRoom.js')
		link(rel='stylesheet', href='/stylesheets/jquery.mobile-1.4.1.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		.content
			select#roomSelector
				for item in rooms
					option #{item}
			br
			br
			input#goToSelector(type='button', value='Go to selector')
			br
			br
			input#goToPlayer(type='button', value='Go to player')