doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.1/jquery.mobile.js')
		script(src='/socket.io/socket.io.js')
		script(src='http://connect.soundcloud.com/sdk.js')
		script(src='/utils.js')
		script(src='/selector.js')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.1/jquery.mobile.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		.variables
			input#roomName(type='hidden', value=roomName)
		.connectedSection
			span#playerConnected
		.input
			.soundcloud
				h3 SoundCloud
				label#soundcloudLinkInputLabel(for='soundcloudLinkField') SoundCloud URL
				input#soundcloudLinkField(placeholder='<enter soundcloud url>')
				input#soundcloudPlayButton(type='button', value='Play Soundcloud Link')
				input#soundcloudResumeButton(type='button', value='Resume Soundcloud')
				input#soundcloudPauseButton.pauseButton(type='button', value='Pause')
				label#soundcloudVolumeSliderLabel(for='soundcloudVolumeSlider') SoundCloud Volume
				input#soundcloudVolumeSlider.volumeSlider.soundcloud(type='range', value='100', min='0', max='100')
				label#soundcloudPlaybackSliderLabel(for='soundcloudPlaybackSlider') SoundCloud Seek
				input#soundcloudPlaybackSlider.playbackSlider.soundcloud(type='range', value='0', min='0', max='100', data-highlight="true")
				p#soundcloudTitle.songTitle
				p#soundcloudProgressText.playerProgressText
				label#soundcloudSearchQueryLabel(for='soundcloudSearchQuery') SoundCloud Query
				input#soundcloudSearchQuery(placeholder='e.g. lee foss bpm')
				input#soundcloudSearchButton(type='button', value='Search Soundcloud')
				ul#soundcloudSearchResult.searchResults(data-role='listview')
				br
				br

			.youtube
				h3 YouTube
				label#youtubeIdInputLabel(for='youtubeVideoIdField') YouTube Video URL
				input#youtubeVideoIdField(placeholder='<enter youtube url>')
				input#youtubePlayButton(type='button', value='Play Youtube Video')
				input#youtubeResumeButton(type='button', value='Resume Youtube')
				input#youtubePauseButton.pauseButton(type='button', value='Pause')
				label#youtubeVolumeSliderLabel(for='youtubeVolumeSlider') YouTube Volume
				input#youtubeVolumeSlider.volumeSlider.youtube(type='range', value='100', min='0', max='100')
				label#youtubePlaybackLabel(for='youtubePlaybackSlider') YouTube Seek
				input#youtubePlaybackSlider.playbackSlider.youtube(type='range', value='0', min='0', max='100', data-highlight="true")
				p#youtubeTitle.songTitle
				p#youtubeProgressText.playerProgressText
				label#youtubeQueryLabel(for='youtubeSearchQuery') Youtube Query
				input#youtubeSearchQuery(placeholder='e.g. mat zo bipolar')
				input#youtubeSearchButton(type='button', value='Search Youtube')
				ul#youtubeSearchResult.searchResults
		br
		input#pauseAll.pauseButton(type='button', value='Pause')
